<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="col-md-10 col-xs-11 col-full-sized">
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        </div>
        <div class="col-md-2 col-xs-1 col-full-sized">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a rel="nofollow" href="<%= signout_path %>" data-method="delete">
               <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
               <span class="notification-title">LOGOUT</span>
            </a>
          </li>
        </ul>
        </div>
  </div>
</nav>