/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom";

.signin-logo {
  color: $theme-blue;
  text-align: center;
}

.signin-logo-cloud {
  font-size: 70px;
}

.panel {
  box-shadow: none;
}

.panel, .panel-heading {
  border: none;
  border-radius: 0;
}

.panel-default .panel-heading {
  background-color: #FFFFFF;
}

.panel-body {
  .input-group {
    .input-group-addon, input {
      border-radius: 0;
      border-color: $theme-blue;
    }
    .input-group-addon {
      color: #FFFFFF;
      background-color: $theme-blue;
      font-size: 20px;
    }
    input {
      height: initial;
      font-size: 20px;
    }
  }  
}

.btn-info {
  border: none;
  border-radius: 0;
  color: #FFFFFF;
  margin-top: 10px;
  background-color: $theme-blue;
}
