<!DOCTYPE html>
<html>
<head>
  <title>AmberCloud</title>
  <%= stylesheet_link_tag    'unauthorized', media: 'all' %>
  <%= javascript_include_tag 'unauthorized' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid col-full-sized">
    <%= yield %>
  </div>
</body>
</html>
